<!-- Mittels Jinja Logik wird die vorlage.html als Template eingefügt. -->
{% include "vorlage.html" %}

<!-- Quelle der Darstellungen: Offizielle Website von Bootstrap (teilweise angepasst) -->

<!-- Inhalt -->
<body>
{% block body %}

<br><br><br><br>  <!-- Zeilenumbrüche, damit der nachfolgende Text in der Mitte steht -->

<h1 class="text-center"> Verwalte deine Feriendestinationen</h1>
<p class="text-center shadow p-4 mb-4 rounded"> Es gibt viele schöne Feriendestinationen in Europa. Doch welche sind für Camper*innen geeignet? <br> Verschaffe dir mit diesem Tool einen Überblick über deine besuchten Destinationen mit dem Camper <br> und erfasse neue Wunsch-Spots für weitere Inspirationen. </p><br>

<p class="lead text-center"> Schau doch mal selbst rein:</p> <br>

   <!-- Button zur "Auswahl-Seite", "Neue Eingabe-Seite" und "Übersicht-Seite"
            Mit <div class="w-100"</div> = Nach Grössen zu ordnen (Sizing) werden diese übereinander dargestellt -->
<ul class="text-center">
        <a href="/auswahl" type="button" class="btn btn-outline-secondary">Auswahl</a>
       <div class="w-100"</div> <br>
        <a href="/erfassung" type="button" class="btn btn-outline-secondary">Neue Eingabe</a>
       <div class="w-100"</div> <br>
        <a href="/uebersicht" type="button" class="btn btn-outline-secondary">Übersicht</a>
</ul>

<!-- Inhalt beenden -->
{% endblock %}
</body>
